#ignore misc BYOND files
*.int
*.rsc
*.dmb
*.lk

#ignore cfg
config.json

QueueWebApplication/src/QueueWebApplication.API/bin
QueueWebApplication/src/QueueWebApplication.API/obj
QueueWebApplication/src/QueueWebApplication.Core/bin
QueueWebApplication/src/QueueWebApplication.Core/obj
