<div class="server-card" [ngClass]="{ 'whitelist-server': server().whitelisted }">
  <div class="server-card__name">{{ server().name }}</div>
  <div class="server-card__content">
    <div class="server-card__content-info">
      <div class="server-card__info-online">
        Онлайн: {{ server().currentPlayers }} / {{ server().maximumPlayers | numberOrInfinity }}
      </div>
    </div>
    <div class="server-card__content-buttons">
      @switch (queueState) {
        @case (QueueState.NotInQueue) {
          <button class="queue-join" type="button" [disabled]="disabled$ | async" (click)="connectToQueue()">
            {{ server().currentPlayers < server().maximumPlayers ? "Играть" : "В очередь" }}
          </button>
        }
        @case (QueueState.InQueue) {
          <button class="queue" type="button">Вы {{ queuePosition$ | async }}й в очереди</button>
        }
        @case (QueueState.AllowedToConnect) {
          <a href="{{ serverUrl }}">
            <button class="join" type="button">Играть</button>
          </a>
        }
      }
    </div>
  </div>
</div>
